@charset "utf-8";
@import url(./main.css);



.prev, .next {
	color: #FF9900;
	/* background: #FF9900; */
	font-size: 2rem;
	width: fit-content;
	position: absolute;
}

.dot-nav {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #404040;
	border-radius: 50%;
	/* position: absolute; */
}